:root{
--space-1:5px;--space-2:10px;--space-3:15px;--space-4:20px;--space-5:30px;
--space-6:40px;--space-7:50px;--space-8:75px;--space-9:100px;--space-10:140px;
--container-max:1640px;
--radius-none:0px;--radius-pill:9999px;
}
